body {
  background-color: #214B9C;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, label, div {
  // Removes select cursor from most of elements
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

div {
  text-align: center;
  font-family: Montserrat;
}

p {
  margin-block: 0;
}

button.button {
  font-family: 'Montserrat';
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  border: none;
  cursor: pointer;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
  transition: .3s;
  user-select: none;

  &.disabled {
    background-color: #636570;
    cursor: default !important;
    transform: none !important;
    transition: none !important;
  }
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  user-select: none;
}

button.button:active, .icon-button:active, {
  transform: scale(0.92);
  transition: 0.1s;
}

.input {
  font-family: Montserrat;
  border: none;
  border-radius: 5px;
}


/*Scroll bar styles*/

::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar {
  width: 0;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9aa1ab;
  border-radius: 20px;;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #636570;
}
