.main-image-wrapper {
  color: black;

  .main-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
  }


  input {
    display: none;
  }
}

.image-panel {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 460px;
  height: 50px;
  position: relative;
  right: 5px;
  border-radius: 0 0 20px 20px;

  .add-image {
    width: 45px;
    margin-left: 5px;
  }

  .img-delete, .img-upload {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;

    img {
      width: 35px;
    }

    &:active {
      transform: scale(0.97);
    }
  }


  .radio-wrapper {
    margin-top: 4px;
    border-radius: 5px;

    .label {
      padding: 2px 4px;
      border: 1px solid black;
      cursor: pointer;

      &:first-of-type {
        border-radius: 5px 0 0 5px;
      }

      &:nth-of-type(2) {
        border-radius: 0 5px 5px 0;
      }
    }

    [type=radio]:checked + label {
      background-color: #000;
      color: #fff;
    }
  }
}

.vehicle-photo {
  min-width: 450px;
  height: 380px;

  .main-image {
    box-shadow: 0 0 1px 5px white;
  }
}

.compact-size {
  width: 295px;
  height: 265px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);

}