.vehicle-photo {
  min-width: 450px;
}

.compact-size {
  width: 295px;
  height: 265px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.main-image-wrapper {
  display: flex;
  background-color: #fff;
  color: black;
  flex-direction: column;
  padding: 15px 15px 2.5px;
  border-radius: 20px;

  .main-image {
    border-radius: 5px;
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.image-panel {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  padding-top: 5px;

  .add-image, {
    width: 45px;
  }

  .img-delete, .img-upload {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;

    img {
      width: 35px;
    }
  }
}