.input {
  width: 100%;
  background-color: rgba(126, 126, 147, .32);

  &.name {
    height: 54px;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  &.text {
    color: black;
    height: 360px;
  }
}

.label-wrapper {
  display: flex;
  justify-content: space-between;

  .text-label {
    margin-bottom: 16px;
  }
}