.vehicle-item {
  margin: 50px 65px;
  position: relative;
}

.vehicle-info-wrapper {
  display: flex;
}

.delete-vehicle.button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;

  .delete-vehicle-icon {
    width: 40px;
  }
}