.vehicle-info-wrapper {
  display: flex;
  margin: 50px 0 0 105px;
}

.delete-vehicle.button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;

  .delete-vehicle-icon {
    width: 40px;
  }
}