.modal-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 48px;
  border-radius: 20px;
  z-index: 100;

  .modal-content {
    box-sizing: border-box;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  .icon {
    width: 25px;
  }
}

