.main-image-wrapper {
  position: relative;

  .main-image {
    border-radius: 10px;
    box-shadow: 0 0 1px 5px white;
    width: 400px;
  }

  .img-delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;

    &:active {
      transform: scale(0.97);
    }
  }
}

.no-image-plug {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10px;

  input[type="file"] {
    display: none;
  }

  .plug-text {
    padding-top: 72px;
    margin-bottom: 24px;
    color: black;
    font-size: 32px;
    font-weight: 500;
  }

  .plus-circled {
    width: 100px;
    cursor: pointer;

    &:active {
      transform: scale(0.97);
    }
  }
}