.details-wrapper {
  position: relative;
  margin: 0 0 0 65px;
  box-sizing: border-box;
  padding: 0 44px 44px;
  font-size: 26px;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 20px;

  .details-header {
    font-size: 38px;
    font-weight: 600;
    margin: 16px 0;
  }

  .details {
    background-color: rgba(126, 126, 147, .32);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 12px;

    .details-field {
      display: flex;

      .field-name {
        text-transform: capitalize;
        flex-shrink: 0;
      }
    }
  }
}