.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 62px 0;
  font-family: Montserrat;

  .username {
    font-size: 28px;

    .login {
      font-weight: 600;
    }
  }

  .button-block {
    display: flex;
    .back {
      margin-right: 21px;
      padding: 13px 8px;

      .back-icon {
        width: 30px;
        height: 13px;
      }
    }


    .exit {
      font-size: 24px;
      font-weight: bold;
      padding: 5px 10px;
      display: flex;
      align-items: center;

      .logout-icon {
        width: 35px;
        margin-right: 12px;
      }
    }
  }
}
