.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 62px;
  font-family: Montserrat;

  .username {
    font-size: 32px;

    .login {
      font-weight: 600;
    }
  }

  .button-block {
    display: flex;
    .back {
      margin-right: 21px;
      padding: 20px 12px;

      .back-icon {
        width: 44px;
        height: 22px;
      }
    }


    .exit {
      font-size: 30px;
      font-weight: bold;
      padding: 6px 32px 6px 22px;
      display: flex;
      align-items: center;

      .logout-icon {
        width: 48px;
        margin-right: 10px;
      }
    }
  }
}
